#SessionList-wrapper {
  display: flex;
  flex-direction: column;

  width: 60%;

  padding: 1em;

  //   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

  .SessionListItem-wrapper {
    display: flex;
    align-items: center;

    width: 100%;
    height: 4em;

    padding: 1em;

    text-decoration: none;
    border-radius: 1em;
    border: 1px solid rgba(0, 0, 0, 0.15);

    transition: all 0.1s;
    transform-origin: left;

    &:not(:first-child) {
      margin-top: 1em;
    }

    &:hover {
      transform: scale(1.1);
    }

    &.training {
      color: rgb(163, 230, 53);
      background-color: rgb(54, 83, 20);
      // background-color: rgb(193, 209, 171);
      // filter: drop-shadow(3px 3px 3px rgba(163, 230, 53, 0.25));
      &:hover {
        background-color: rgb(77, 124, 15);
        // background-color: rgb(223, 246, 184);
      }
    }

    &.recovery {
      color: rgb(56, 189, 248);
      background-color: rgb(12, 74, 110);
      // background-color: rgb(167, 203, 222);
      // filter: drop-shadow(3px 3px 3px rgba(56, 189, 248, 0.25));
      &:hover {
        background-color: rgb(3, 105, 161);
        // background-color: rgb(186, 232, 253);
      }
    }

    .SessionListItem-typeSpan {
      font-size: larger;
      text-transform: uppercase;
    }
  }
}
